<template name="Caseprofile">
	<div id="fyaHearingInsertDiv">
		{{>caseProfileFya}}
	</div>
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<hr>
		{{> CaseprofileView}}
		<hr>
	</div>
</template>

<template name="caseProfileFya">
	{{#if fyaCount}}
	<ul class="nav nav-pills">
	  <li><a href="#" class="collapsed showhide text-warning" data-toggle="collapse" data-target="#intro"> 
	  		Pending case update <span class="badge">{{fyaCount}}</span>
	  	</a>
	  </li>
	</ul>
	
	<div id="intro" class="collapse"> 
		{{#each fyaItems}}
		{{>fyaDetailsInsert}}
		{{/each}}
		{{lastUpdated}}
	</div>
	{{/if}}
</template>

<template name="CaseprofileView">
	<div id="caseprofile-view" class="">
		<form id="dataview-controls" class="form-inline">
			{{#if archived}}
			{{else}}
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			{{/if}}
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}			
		{{#if isFound}}
				<div>
				</div>
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}			
	{{/if}}
			</div>
			<!--<a href="#" class="collapsed showhide text-warning" data-toggle="collapse" data-target=".min-view"> Full View </a>-->
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}}  {{> CaseprofileViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			No Case Profile :(
		</div>
		{{/if}}
	</div>
</template>

<template name="CaseprofileViewTable">
	<ul class="nav nav-tabs nav-justified">
  		<li class="active th-sortable"><a href="#caseId" data-toggle="tab" aria-expanded="true" data-sort="caseId">Title</a></li>
  		<li class="th-sortable"><a href="#caseNumber" data-toggle="tab" aria-expanded="false" data-sort="caseNumber">Case Number</a></li>
  		<li class="th-sortable"><a href="#clientName" data-toggle="tab" aria-expanded="false" data-sort="clientName">Client Name</a></li>
  		<li class="th-sortable"><a href="#nextHearingDate" data-toggle="tab" aria-expanded="false" data-sort="nextHearingDate">Next Hearing</a></li>
  		<li class="th-sortable"><a href="#filingDate" data-toggle="tab" aria-expanded="false" data-sort="filingDate">Filing Date</a></li>
  		<li class="th-sortable"><a href="#representing" data-toggle="tab" aria-expanded="false" data-sort="representing">Representing</a></li>
  		<li class="th-sortable"><a href="#caseType" data-toggle="tab" aria-expanded="false" data-sort="caseType">Case Type</a></li>
  		<li class="th-sortable"><a href="#court" data-toggle="tab" aria-expanded="false" data-sort="court">Court</a></li>
  		<li class="th-sortable"><a href="#modifiedAt" data-toggle="tab" aria-expanded="false" data-sort="modifiedAt">Last Updated</a></li>
  	</ul>
  	
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		
		{{#each tableItems}}
		<div class="row">
			{{#each row}} 
				{{> panelView}} 
			{{/each}}
		</div>
		{{/each}}
		
	</div>
</template>

<template name="CaseprofileViewTableItems">
</template>

<template name="panelView">
<div class="col-xs-12 col-sm-12 col-md-4">
  <div class="panel panel-warning">
    
    <div class="panel-heading" role="tab" id={{_id}}>
    </div>
    
    
      <div class="panel-body">
      	<h2 class="panel-body-title">
			{{caseId}}
		</h2>
		<hr>
		<p class="text-center text-muted">
		{{#if caseNumber}}
			{{caseNumber}}
		{{else}}
			-
		{{/if}}
		</p>
		
		<div class="min-view">
	      <ul class="list-group">
	  		<li class="list-group-item">
	    		<span class="badge">{{representing}}</span>
	    		<i class="fa fa-user">&nbsp;</i> <span>{{getClientName clientName}}</span><br/>
	    		<i class="fa fa-phone">&nbsp;</i> <span><a href="tel:{{phone}}">{{phone}}</a></span><br/>
	    		<i class="fa fa-envelope-o">&nbsp;</i><span><a href="mailto:{{email}}?subject= Regarding%20Case:%20{{caseId}}&body=Hi%20{{getClientName clientName}},%0A">{{email}}</a></span>
	  		</li>
	  		<li class="list-group-item">
	    		<span class="badge">{{caseType}}</span>
	    		<i class="fa fa-calendar">&nbsp;</i> <span>File: {{formatDate filingDate 'DD-MM-YYYY'}} </span><br/>
	    		<i class="fa fa-university">&nbsp;</i><span><a href="http://maps.google.com/?q={{court}}">{{court}}</a></span><br/>
	  		</li>
		  </ul>
		  <div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<a class="show-log" href="#">
		          <abbr title="Log"><p class="text-center text-muted"><i class="fa fa-comment-o"></i></p></abbr>
		        </a>
	        </div>
	        {{#if folderId}}
	        <div class="col-xs-6 col-sm-6 col-md-6">
		        <a class="show-gdrive" href="https://drive.google.com/drive/folders/{{folderId}}" target="_blank">
		          <abbr title="Gdrive"><p class="text-center text-muted"><i class="fa fa-folder-o"></i>Open</p></abbr>
		          <!--<img src="https://developers.google.com/drive/images/drive_icon.png" class="img-responsive" width="20" height="20"> Open-->
		        </a>
	        </div>
	        {{else}}
	        	<a class="create-gdrive" href="#">
		          <abbr title="Gdrive"><p class="text-center text-muted"><i class="fa fa-folder-o"></i>Create</p></abbr>
		          <!--<img src="https://developers.google.com/drive/images/drive_icon.png" class="img-responsive" width="40" height="40"> Create-->
		        </a>
	        {{/if}}
	       </div>
		  <blockquote>
		  	<div class="notes">
		  	{{#if notes}}	
		  		{{notes}}
		  	{{else}}
		  		-
		  	{{/if}}
		  	</div>
		  	<small>-Last updated on {{formatCalendarDate modifiedAt}}</small>
		  </blockquote>
		 </div> <!-- End Of Collapse -->
    </div>
    <div class="panel-footer">
    	&nbsp;
    	<div class="pull-left">
	    	{{#if nextHearingDate}}
	    		<p class="text-muted">Next Hearing {{formatDate nextHearingDate 'll'}}</p>
	    	{{else}}
	    		-
	    	{{/if}}
    	</div>
	   <div class="pull-right">
	   		<abbr Title="Click to Open Case Profile">Open</abbr>
	    	<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit"></span>
	    	<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete"></span>
	    	<span id="sendMail-button" class="fa fa-envelope-o {{sendMailButtonClass}}" title="SendMail" hidden></span>
	    	<span id="print-button" class="fa fa-file-pdf-o {{printButtonClass}}" title="Print"></span>
		</div>
    </div>
    
  </div>
  </div>
</template>
