<template name="Caseprofile">
	<div id="fyaHearingInsertDiv">
		{{>caseProfileFya}}
	</div>
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> CaseprofileView}}
	</div>
</template>

<template name="caseProfileFya">
	{{lastUpdated}}
	{{#each fyaItems}}
	{{>fyaDetailsInsert}}
	{{/each}}
</template>

<template name="CaseprofileView">
	<div id="caseprofile-view" class="">
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}			
		{{#if isFound}}
				<div>
				</div>
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}			
	{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> CaseprofileViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			No Case Profile :(
		</div>
		{{/if}}
	</div>
</template>

<template name="CaseprofileViewTable">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="container-fluid"><div class="row">{{#each tableItems}} {{> panelView}} {{/each}}</div></div>
	</div>
</template>

<template name="CaseprofileViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{caseId}}
		</td>
		<td>
			{{clientName}}
		</td>
		<td>
			{{phone}}
		</td>
		<td>
			{{email}}
		</td>
		<td>
			{{formatDate dob 'DD-MM-YYYY'}}
		</td>
		<td>
			{{age}}
		</td>
		<td>
			{{fatherName}}
		</td>
		<td>
			{{clientNotes}}
		</td>
		<td>
			{{representing}}
		</td>
		<td>
			{{caseType}}
		</td>
		<td>
			{{court}}
		</td>
		<td>
			{{formatDate filingDate 'DD-MM-YYYY'}}
		</td>
		<td>
			{{notes}}
		</td>
		<td>
			{{opName}}
		</td>
		<td>
			{{opAdvocate}}
		</td>
		<td>
			{{opNotes}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
		<td class="td-icon">
			<span id="sendMail-button" class="fa fa-envelope-o {{sendMailButtonClass}}" title="SendMail">
			</span>
		</td>
		<td class="td-icon">
			<span id="print-button" class="fa fa-file-pdf-o {{printButtonClass}}" title="Print">
			</span>
		</td>
	</tr>
</template>

<template name="panelView">
  <div class="panel panel-default col-xs-12 col-sm-12 col-md-4">
  	<div class="pull-right">
         <span class="label label-default"><i class="fa fa-calendar">&nbsp;</i> File: {{formatDate filingDate 'DD-MM-YYYY'}}</span>
    </div>
    <div class="panel-heading" role="tab" id={{_id}}>
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{_id}}" aria-expanded="true" aria-controls="collapseOne{{caseId}}">
          Case: {{caseId}} - {{caseNumber}}
        </a>
      </h4>
     
    </div>
    <div id="collapseOne{{_id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby={{_id}}>
      <div class="panel-body">
      <ul class="list-group">
  		<li class="list-group-item">
    		<span class="badge">{{representing}}</span>
    		<i class="fa fa-user">&nbsp;</i> <span>{{clientName}}</span><br/>
    		<i class="fa fa-phone">&nbsp;</i> <span><a href="tel:{{phone}}">{{phone}}</a></span><br/>
    		<i class="fa fa-email">&nbsp;</i><span><a href="mailto:{{email}}?subject= Regarding%20Case:%20{{caseId}}&body=Hi%20{{getClientName clientName}},%0A">{{email}}</a></span>
  		</li>
  		<li class="list-group-item">
    		<span class="badge">{{caseType}}</span>
    		<i class="fa fa-calendar">&nbsp;</i> <span>Next Hearing is on {{formatDate nextHearingDate 'll'}} <i class="fa fa-rocket">&nbsp;</i> {{formatCalendarDate nextHearingDate}}</span><br/>
    		<i class="fa fa-map-marker">&nbsp;</i><span><a href="http://maps.google.com/?q={{court}}">{{court}}</a></span><br/>
    		
  		</li>
	  </ul>
	  {{notes}}
	  <p class=" text-info text-center"> <small>--Last updated on {{formatCalendarDate modifiedAt}}</small></p> 
		
      </div>
      <div class="panel-footer">
      	show more...
      	<div class="pull-right">
      		<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit"></span>
      		<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete"></span>
      		<span id="sendMail-button" class="fa fa-envelope-o {{sendMailButtonClass}}" title="SendMail" hidden></span>
      		<span id="print-button" class="fa fa-file-pdf-o {{printButtonClass}}" title="Print"></span>
      	</div>
      </div>
    </div>
    
  </div>
</template>
