<template name="Caseprofile">
	<div id="fyaHearingInsertDiv">
		{{>caseProfileFya}}
	</div>
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<hr>
		{{> CaseprofileView}}
		<hr>
	</div>
</template>

<template name="caseProfileFya">
	{{#if fyaCount}}
	<ul class="nav nav-pills">
	  <li><a href="#" class="collapsed showhide text-warning" data-toggle="collapse" data-target="#intro"> 
	  		Pending case update <span class="badge">{{fyaCount}}</span>
	  	</a>
	  </li>
	</ul>
	
	<div id="intro" class="collapse"> 
		{{#each fyaItems}}
		{{>fyaDetailsInsert}}
		{{/each}}
		{{lastUpdated}}
	</div>
	{{/if}}
</template>

<template name="CaseprofileView">
	<div id="caseprofile-view" class="">
		<form id="dataview-controls" class="form-inline">
			{{#if archived}}
			{{else}}
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			{{/if}}
		{{#if isNotEmpty}}
			<div id="dateview-controls-courtfilter-group" class="form-group">
					<label class="sr-only" for="search">
						what you are looking for here?
					</label>
	        		<input class="form-control typeahead" name="search" type="text"
			       		id="dataview-courtfilter-input" placeholder="(Search) What you are looing for?"
	       				autocomplete="off" spellcheck="off"
	       				data-sets="teams"/>
			</div>
   			<button type="button" id="dataview-courtfilter-button" class="btn btn-primary">
				<span class="fa fa-search">
				</span>
			</button>
			
			<div class="btn-group">
			<div class="btn-group">
		  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    		Order by <span class="caret"></span>
		  		</button>
				<ul class="dropdown-menu">
			  		<li class="active th-sortable"><a href="#caseId" data-sort="caseId">Title</a></li>
			  		<li class="th-sortable"><a href="#caseNumber" data-sort="caseNumber">Case Number</a></li>
			  		<li class="th-sortable"><a href="#clientName" data-sort="clientName">Client Name</a></li>
			  		<li class="th-sortable"><a href="#nextHearingDate" data-sort="nextHearingDate">Next Hearing</a></li>
			  		<li class="th-sortable"><a href="#filingDate" data-sort="filingDate">Filing Date</a></li>
			  		<li class="th-sortable"><a href="#representing" data-sort="representing">Representing</a></li>
			  		<li class="th-sortable"><a href="#caseType" data-sort="caseType">Case Type</a></li>
			  		<li class="th-sortable"><a href="#court" data-sort="court">Court </a></li>
			  		<li class="th-sortable"><a href="#modifiedAt" data-sort="modifiedAt">Last Updated</a></li>
			  	</ul>
		  	</div>
				<button type="button" class="btn btn-default" id="caseprofileView-sort-button">asc</button>
		  	</div>
		{{/if}}
		
	<!--		<div id="dataview-controls-export" class="form-group hidden">-->
	<!--			{{#if isNotEmpty}}			-->
	<!--	{{#if isFound}}-->
	<!--			<div>-->
	<!--			</div>-->
	<!--			{{else}}-->
	<!--			<div class="btn-group">-->
	<!--				<button type="button" class="btn btn-default" id="dataview-export-default">-->
	<!--					Export-->
	<!--				</button>-->
	<!--				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
	<!--					<span class="caret">-->
	<!--					</span>-->
	<!--				</button>-->
	<!--				<ul class="dropdown-menu" role="menu">-->
	<!--					<li>-->
	<!--						<a href="#" id="dataview-export-csv">-->
	<!--							Export to CSV-->
	<!--						</a>-->
	<!--					</li>-->
	<!--					<li>-->
	<!--						<a href="#" id="dataview-export-tsv">-->
	<!--							Export to TSV-->
	<!--						</a>-->
	<!--					</li>-->
	<!--					<li>-->
	<!--						<a href="#" id="dataview-export-json">-->
	<!--							Export to JSON-->
	<!--						</a>-->
	<!--					</li>-->
	<!--				</ul>-->
	<!--			</div>-->
	<!--			{{/if}}			-->
	<!--{{/if}}-->
	<!--		</div>-->
			<!--<a href="#" class="collapsed showhide text-warning" data-toggle="collapse" data-target=".min-view"> Full View </a>-->
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		{{#if searchString}}
			<span class="help-block">
				Result for "{{searchString}}"
			</span>
		{{/if}}
		<div id="dataview-data">
			{{#if viewAsTable}}  {{> CaseprofileViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			No Case Profile :(
		</div>
		{{/if}}
	</div>
</template>

<template name="CaseprofileViewTable">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		
		{{#each tableItems}}
		<div class="row">
			{{#each row}} 
				{{> panelView}} 
			{{/each}}
		</div>
		{{/each}}
		
	</div>
</template>

<template name="CaseprofileViewTableItems">
</template>

<template name="panelView">
<div class="col-xs-12 col-sm-12 col-md-4">
  <div class="panel panel-warning">
    
    <div class="panel-heading" role="tab">
		<a href="#" class="collapsed showhide text-danger" data-toggle="collapse" data-target="#{{_id}}"> 
	  		Full View
	  	</a>
    </div>
    
    
      <div class="panel-body">
      	<h2 class="panel-body-title">
			{{caseId}}
		</h2>
		<hr>
		<p class="text-center text-muted">
		{{#if caseNumber}}
			{{caseNumber}}
		{{else}}
			-
		{{/if}}
		</p>
		
		<div class="min-view collapse" id="{{_id}}">
	      <ul class="list-group">
	  		<li class="list-group-item">
	    		<span class="badge">{{representing}}</span>
	    		<h6><i class="fa fa-user">&nbsp;</i> {{getClientName clientName}} </h6>
	    		{{#if dob}}<h6><i class="fa fa-calendar">&nbsp;</i> <small> DOB: {{formatDate dob 'DD-MM-YY'}} | Age : {{age}} </small></h6>{{/if}}
	    		<h6> <small> {{relationship}} </small> {{fatherName}} </h6>
	    		<i class="fa fa-phone">&nbsp;</i> <span><a href="tel:{{phone}}">{{phone}}</a></span><br/>
	    		<i class="fa fa-envelope-o">&nbsp;</i><span><a href="mailto:{{email}}?subject= Regarding%20Case:%20{{caseId}}&body=Hi%20{{getClientName clientName}},%0A">{{email}}</a></span>
	  		</li>
	  		<li class="list-group-item">
	    		<span class="badge">{{caseType}}</span>
	    		<i class="fa fa-calendar">&nbsp;</i> <span>File: {{formatDate filingDate 'DD-MM-YYYY'}} </span><br/>
	    		<i class="fa fa-university">&nbsp;</i><span><a href="http://maps.google.com/?q={{court}}">{{court}}</a></span><br/>
	  		</li>
		  </ul>
		  <div class="row">
			<!--<div class="col-xs-6 col-sm-6 col-md-3">-->
			<!--	<a class="show-caseprofile" href="#">-->
		 <!--         <abbr title="Case Profile"><p class="text-center text-muted"><i class="fa fa-comment-o"></i></p></abbr>-->
		 <!--       </a>-->
	  <!--      </div>-->
			<div class="col-xs-6 col-sm-6 col-md-6">
				<a class="show-log" href="#">
		          <abbr title="Log"><p class="text-center text-muted"><i class="fa fa-comment-o"></i></p></abbr>
		        </a>
	        </div>
	        {{#if folderId}}
	        <div class="col-xs-6 col-sm-6 col-md-6">
		        <a class="show-gdrive" href="https://drive.google.com/drive/folders/{{folderId}}" target="_blank">
		          <abbr title="Google drive"><p class="text-center text-muted"><i class="fa fa-folder-o"></i>Open</p></abbr>
		        </a>
	        </div>
	        {{else}}
	        	<a class="create-gdrive" href="#">
		          <abbr title="Google drive"><p class="text-center text-muted"><i class="fa fa-folder-o"></i>Create</p></abbr>
		        </a>
	        {{/if}}
	       </div>
		  <blockquote>
		  	<div class="notes">
		  	<a href="#">Other Details</a> 
		  	<!--{{#if notes}}	-->
		  	<!--	{{notes}}-->
		  	<!--{{else}}-->
		  	<!--{{/if}}-->
		  	</div>
		  	<small>-Last updated on {{formatCalendarDate modifiedAt}}</small>
		  </blockquote>
		 </div> <!-- End Of Collapse -->
    </div>
    <div class="panel-footer">
    	&nbsp;
    	<div class="pull-left">
	    	{{#if nextHearingDate}}
	    		<p class="text-muted">Next Hearing {{formatDate nextHearingDate 'll'}}</p>
	    	{{else}}
	    		-
	    	{{/if}}
    	</div>
	   <div class="pull-right">
	   		<abbr Title="Click to Open Hearings">Hearing</abbr>
	    	<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit"></span>
	    	<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete"></span>
	    	<span id="sendMail-button" class="fa fa-envelope-o {{sendMailButtonClass}}" title="SendMail" hidden></span>
	    	<span id="print-button" class="fa fa-file-pdf-o {{printButtonClass}}" title="Print"></span>
		</div>
    </div>
    
  </div>
  </div>
</template>

<template name="searchCourt">
	<p class="lead">{{name}}</p>
</template>

<template name="searchCaseTitle">
	<p class="lead">{{caseId}} - {{caseNumber}}</p>
</template>

<template name="searchRepresent">
	<p class="lead">{{type}}</p>
</template>