<template name="presentation">
		{{> insight}}
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar panel panel-default">
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
                <ul class="nav" role="tablist">
                    
                    <li role="presentation" id="tab-all">
                        <a href="#all" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                          <i class="fa fa-list" aria-hidden="true"></i>&nbsp;Show All
                        </a>
                    </li>
                    <li role="presentation" id="tab-court">
                        <a href="#div-court-list">
                        <i class="fa fa-university" aria-hidden="true"></i>&nbsp;Court wise
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#todo" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                        <i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Todo <span class="badge pull-right">{{incompleteCount}}</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#approval" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                        <i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Approvals <span class="badge pull-right">{{incompleteApprovalCount}}</span>
                        </a>
                    </li>                
                    <li role="presentation" id="appointment-tab">
                        <a href="#appointment" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                        <i class="fa fa-archive" aria-hidden="true"></i>&nbsp;appointment <span class="badge pull-right">{{appointmentCount}}</span>
                        </a>
                    </li>
                    <li role="presentation" id="print-tab">
                        <a href="#" data-toggle="tab" aria-controls="complete" role="tab" title="Print">
                        <i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print Schedule
                        </a>
                    </li>                    
                </ul>
				</div>
				<div class="profile-usertitle">
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9" id="panel-caseprofile-list">
            <div class="profile-content panel panel-default">
            	<div id="myTabContent" class="tab-content">
            	  <div class="tab-pane fade active in" id="all">
            		{{> CaseprofileView}}
            	  </div>
            	  <div class="tab-pane fade" id="todo">
            		Todo
            		{{>todo}}
            	  </div>
            	  <div class="tab-pane fade" id="approval">
            		Approvals
            		{{>approval}}
            	  </div>            	  
            	  <div class="tab-pane fade" id="appointment">
            		Appointment
            		{{>yield "Appointment"}}
            	  </div>               	  
            	</div>
            </div>
		</div>
	</div>
    <div class="row profile">
		<div class="col-md-9 panel panel-default" id="div-court-list">
			<h4 class="text-primary">Courts</h4>
			{{> courts}}
		</div>
		
		<div class="col-md-3">
		</div>
	</div>
</template>

<template name="courts">
        <div class="dual-list">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" name="SearchDualList" id="SearchDualList" class="form-control" placeholder="search" />
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                  {{#each courts}}
                  {{#if name}}
                  {{#if getCount name}}
                    <a href="#panel-caseprofile-list" class="list-group-item" title="{{name}}"><i class="fa fa-university" aria-hidden="true"></i>
                    &nbsp;{{name}} <span class="badge pull-right">{{getCount name}}</span>
                    </a>
                  {{/if}}
                  {{/if}}
                  {{/each}}
                </div>
        </div>
</template>

<template name="insight">
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <a href="#" class="collapsed showhide text-warning" data-toggle="collapse" data-target="#intro">{{fyaCount}} Pending updates</a>
			  	<div class="progress progress-striped active">
  					<div class="progress-bar progress-bar-warning" style="width: {{percent fyaCount}}%"></div>
				</div>
			  </div>
			</div>			
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			    {{total}} Total Case Profile
			    <div class="progress progress-striped">
  					<div class="progress-bar progress-bar-success" style="width: {{percent total}}%"></div>
				</div>
			  </div>
			</div>			
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			    {{noCaseNumber}} No Case Number
			  	<div class="progress progress-striped">
  					<div class="progress-bar progress-bar-primary" style="width: {{percent noCaseNumber}}%"></div>
				</div>			  
			  </div>
			</div>			
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			    {{noNextHearing}} No next Hearing
			  	<div class="progress progress-striped">
  					<div class="progress-bar progress-bar-primary" style="width: {{percent noNextHearing}}%"></div>
				</div>			    
			  </div>
			</div>			
		</div>		
		<div class="col-md-2">
			<div class="panel panel-default" style="background-color: transparent;">
			  <div class="panel-body" style="text-align: center;">
				<a href="{{pathFor 'caseprofileL'}}" style="color:#ff9800">
					<span class="fa fa-clock-o fa-fw fa-2x item-title">
					</span>
					<br/>
					Limitations
				</a>			    
			  </div>
			</div>			
		</div>
		<div class="col-md-2">
			<div class="panel panel-default" style="background-color: transparent;">
			  <div class="panel-body" style="text-align: center;">
				<a href="{{pathFor 'caseprofileA'}}" style="color:#b3b3b3">
					<span class="fa fa-archive fa-fw fa-2x item-title">
					</span>
					<br/>
					Archived <span class="badge">{{archivedCount}}</span>
				</a>							    
			  </div>
			</div>			
		</div>
	</div>
</template>