<template name="CaseprofileDetails">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
						<div id="page_menu" class="pull-right">
						</div>
					</div>
				</div>
				{{> CaseprofileDetailsDetailsForm}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="menu">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="subcontent">
				{{> yield region='CaseprofileDetailsSubcontent'}}
			</div>
		</div>
	</div>
</template>

<template name="CaseprofileDetailsDetailsForm">
	<div class="form">
		<h2 id="component-title" class="form-title">
			<a href="#" id="form-back-button" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			{{caseprofile_details.caseId}}
		</h2>
			<ul class="nav nav-pills">
	  			<li><a href="#" class="collapsed showhide text-info" data-toggle="collapse" data-target="#intro"> 
	  				Complete case profile
	  				</a>
	  			</li>
			</ul>
		<div id="intro" class="collapse">
		<br/>
		<div class="panel panel-default">
			<div class="panel-heading">{{caseprofile_details.clientName}}</div>
  			<div class="panel-body">
  				<div class="row">
  					<div class="col-xs-12 col-sm-12 col-md-3">
						<i class="fa fa-phone">&nbsp;</i> {{caseprofile_details.phone}}  						
  					</div>
  					<div class="col-xs-12 col-sm-12 col-md-3">
  						<i class="fa fa-email">&nbsp;</i> {{caseprofile_details.email}}			
  					</div>
  					<div class="col-xs-12 col-sm-12 col-md-3">
  						<i class="fa fa-user">&nbsp;</i>{{caseprofile_details.relationship}}: {{caseprofile_details.fatherName}}			
  					</div>
  					<div class="col-xs-12 col-sm-12 col-md-3">
  					<i class="fa fa-calendar">&nbsp;</i> DOB: {{formatDate caseprofile_details.dob 'DD-MM-YYYY'}} (age:{{caseprofile_details.age}})
  					</div>
  				</div>
    		</div>
  			<div class="panel-footer"><i class="fa fa-check-square-o">&nbsp;</i>Notes: {{caseprofile_details.clientNotes}}</div>
		</div>
		
		<div class="panel panel-primary">
		<div class="panel-heading">Case: {{caseprofile_details.caseId}}</div>
			  	<div class="panel-body">
  				<div class="row">
  					<div class="col-xs-12 col-sm-12 col-md-3">
						<i class="fa fa-user">&nbsp;</i> {{caseprofile_details.representing}}  						
  					</div>
  					<div class="col-xs-12 col-sm-12 col-md-3">
  						<i class="fa fa-mail">&nbsp;</i> {{caseprofile_details.caseType}}			
  					</div>
  					<div class="col-xs-12 col-sm-12 col-md-3">
  						<i class="fa fa-map-marker">&nbsp;</i>{{caseprofile_details.court}}		
  					</div>
  					<div class="col-xs-12 col-sm-12 col-md-3">
  					<i class="fa fa-calendar">&nbsp;</i> Filing: {{formatDate caseprofile_details.filingDate 'DD-MM-YYYY'}}
  					</div>
  				</div>
  				</div>
  				<div class="panel-footer"><i class="fa fa-check-square-o">&nbsp;</i> Notes: {{caseprofile_details.notes}}</div>
  				
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Opposite Party: {{caseprofile_details.opName}}</div>
			  	<div class="panel-body">
  				<div class="row">
  					<div class="col-xs-12 col-sm-12 col-md-12">
						<i class="fa fa-user">&nbsp;</i> Advocate: {{caseprofile_details.opAdvocate}}  						
  					</div>
  				</div>
  				</div>
  				<div class="panel-footer"><i class="fa fa-check-square-o">&nbsp;</i>Notes: {{caseprofile_details.opNotes}}</div>
  		</div>
  		</div>
	</div>
</template>

