<template name="CaseprofileEdit">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> CaseprofileEditEditForm}}
	</div>
</template>

<template name="CaseprofileEditEditForm">
	<div id="caseprofile-edit-edit-form" class="">
		<h2 id="component-title">
			Edit Case Profile
		</h2>
		<form role="form" class="insert-form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-case-id">
				<label for="caseId">
					Case Profile Id
				</label>
				<div class="input-div">
					<input type="text" name="caseId" value="{{caseprofile_details.caseId}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-client-name">
				<label for="clientName">
					Client Name and Address
				</label>
				<div class="input-div">
					<input type="text" name="clientName" value="{{caseprofile_details.clientName}}" class="form-control" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-phone">
				<label for="phone">
					Phone Number
				</label>
				<div class="input-div">
					<input type="text" name="phone" value="{{caseprofile_details.phone}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-email">
				<label for="email">
					Email
				</label>
				<div class="input-div">
					<input type="text" name="email" value="{{caseprofile_details.email}}" class="form-control" data-type="email">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-dob">
				<label for="dob">
					date of Birth
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="dob" value="{{#if caseprofile_details.dob}}{{formatDate caseprofile_details.dob 'DD-MM-YYYY h:mm a'}}{{/if}}" class="form-control" data-type="date" data-format="DD-MM-YYYY h:mm a">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-age">
				<label for="age">
					age
				</label>
				<div class="input-div">
					<input type="text" name="age" value="{{caseprofile_details.age}}" class="form-control" data-type="integer" data-min="0" data-max="150">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-representing">
				<label for="relationship">
					Relationship
				</label>
				<div class="input-div">
					<input class="form-control typeahead" name="relationship" type="text"
		       			value={{caseprofile_details.relationship}}
       					autocomplete="off" spellcheck="off"
       					data-source="relationship"/>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-father-name">
				<label for="fatherName">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="fatherName" value="{{caseprofile_details.fatherName}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-client-notes">
				<label for="clientNotes">
					Other Client Detail
				</label>
				<div class="input-div">
					<textarea class="form-control" name="clientNotes">{{caseprofile_details.clientNotes}}</textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-representing">
				<label for="representing">
					Representing
				</label>
				<div class="input-div">
					<input class="form-control typeahead" name="representing" type="text"
		       			value={{caseprofile_details.representing}}
       					autocomplete="off" spellcheck="off"
       					data-source="represent"/>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-case-type">
				<label for="caseType">
					Case Type/Nature
				</label>
				<input type="text" name="caseType" value="{{caseprofile_details.caseType}}" class="form-control">
			</div>
			<div class="form-group  field-case-number">
				<label for="caseType">
					Case Number
				</label>
				<input type="text" name="caseNumber" value="{{caseprofile_details.caseNumber}}" class="form-control">
			</div>
			<div class="form-group  field-court">
				<label for="court">
					filing Court
				</label>
				<input class="form-control typeahead" name="court" type="text"
		       			value="{{caseprofile_details.court}}"
       					autocomplete="off" spellcheck="off"
       					data-source="nba"/>
			</div>
			<div class="form-group  field-filing-date">
				<label for="filingDate">
					Filing Date
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="filingDate" value="{{#if caseprofile_details.filingDate}}{{formatDate caseprofile_details.filingDate 'DD-MM-YYYY'}}{{/if}}" class="form-control" data-type="date" data-format="DD-MM-YYYY h:mm a">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-notes">
				<label for="notes">
					Other case related Notes / Details
				</label>
				<div class="input-div">
					<textarea class="form-control" name="notes">{{caseprofile_details.notes}}</textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-op-name">
				<label for="opName">
					Opposite party Name and Contact
				</label>
				<div class="input-div">
					<input type="text" name="opName" value="{{caseprofile_details.opName}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-op-advocate">
				<label for="opAdvocate">
					Opposite party Advocate Name and Contact
				</label>
				<div class="input-div">
					<input type="text" name="opAdvocate" value="{{caseprofile_details.opAdvocate}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-op-notes">
				<label for="opNotes">
					Other details about Opposite party
				</label>
				<div class="input-div">
					<input type="text" name="opNotes" value="{{caseprofile_details.opNotes}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="row">
				<div class="form-group  field-judgement-date col-xs-12 col-sm-12 col-md-3">
					<label for="judgementDate">
						Judgement Date (Lower Court)
					</label>
					<div class="input-div">
						<div class="input-group date">
							<input type="text" name="judgementDate" id="judgementDate" value="{{#if caseprofile_details.judgementDate}}{{formatDate caseprofile_details.judgementDate 'DD-MM-YYYY'}}{{/if}}" class="form-control" data-type="date" data-format="DD-MM-YYYY h:mm a">
							<span class="input-group-addon">
								<i class="fa fa-calendar">
								</i>
							</span>
						</div>
						<span id="help-text" class="help-block">
						</span>
						<span id="error-text" class="help-block">
						</span>
					</div>
				</div>				
				<div class="form-group  field-limitation col-xs-12 col-sm-12 col-md-3">
					<label for="limitation">
						Limitation Days
					</label>
					<div class="input-div">
						<div class="input-group date">
							<input type="number" name="limitation" id="limitation" value="{{caseprofile_details.limitation}}" class="form-control">
						</div>
						<span id="help-text" class="help-block">
						</span>
						<span id="error-text" class="help-block">
						</span>
					</div>
				</div>				
				<div class="form-group  field-limitation-date col-xs-12 col-sm-12 col-md-3">
					<label for="judgementDate">
						Limitation Date
					</label>
					<div class="input-div">
						<div class="input-group date">
							<input type="text" name="limitationDate" id="limitationDate" value="{{#if caseprofile_details.limitationDate}}{{formatDate caseprofile_details.limitationDate 'DD-MM-YYYY'}}{{/if}}" class="form-control" data-type="date" data-format="DD-MM-YYYY h:mm a">
							<span class="input-group-addon">
								<i class="fa fa-calendar">
								</i>
							</span>
						</div>
						<span id="help-text" class="help-block">
						</span>
						<span id="error-text" class="help-block">
						</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3">
					<p class="text-success" id="limitationDiff"></p>
				</div>
			</div>	
			<div class="form-group  field-admission-date">
				<label for="filingDate">
					Admission Date
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="admissionDate" value="{{#if caseprofile_details.admissionDate}}{{formatDate caseprofile_details.admissionDate 'DD-MM-YYYY h:mm a'}}{{/if}}" class="form-control" data-type="date" data-format="DD-MM-YYYY h:mm a">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-interimOrder">
				<label for="notes">
					Interim Order
				</label>
				<div class="input-div">
					<input type="text" name="interimOrder" value="{{caseprofile_details.interimOrder}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

