<template name="caseLog">
        <form role="form" class="insert-form">
          <div class="form-group">
            <label for="notes">
              New Note:
            </label>
            <div class="input-div">
              <textarea class="form-control" id="notes" name="notes" value="" autofocus="autofocus">
              </textarea>
              <span id="help-text" class="help-block">
					    </span>
					    <span id="error-text" class="help-block">
					    </span>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-block" id="form-submit-button" name="save">Add</button>
        </form>			  
  		
  		<ul class="list-group">
        {{#each caseLogs}}
        <li class="list-group-item">
          <strong>{{formatDate modifiedAt "DD-MMM-YYYY"}}&nbsp;</strong> - {{notes}}
          <a href="#" id="delete-button" class="fa fa-trash-o {{deleteButtonClass}} list-group-item-deleteButton" title="Delete"></a>
        </li>
        {{/each}}
      </ul>
</template>