
<template name="todo">
  <div class="container">
      <label class="hide-completed">
        <input type="checkbox" checked="{{hideCompleted}}" />
        Hide Completed Tasks
      </label>

      <!--{{> loginButtons}}-->

      {{#if currentUser}}
		
    <form class="new-task">
      <input type="text" name="text" placeholder="Type to add new tasks" />
    </form>
      {{/if}}

    <ul class="list-group">
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="task">
  <li class="{{#if checked}}checked active{{/if}} {{#if private}}private{{/if}} list-group-item">
    <span id="delete-button" class="delete fa fa-trash-o" title="Delete"></span>
    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    <span class="text"><strong>{{formatDate createdAt "DD/MMM/YYYY"}}</strong> {{text}}</span>
  </li>
</template>