<template name="CaseprofileInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> CaseprofileInsertInsertForm}}
	</div>
</template>

<template name="CaseprofileInsertInsertForm">
	<div id="caseprofile-insert-insert-form" class="">
		<h2 id="component-title">
			New Case Profile
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-case-id">
				<label for="caseId">
					Case Profile Id
				</label>
				<div class="input-div">
					<input type="text" name="caseId" value="{{nextCaseId}}" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-client-name">
				<label for="clientName">
					Client Name and Address
				</label>
				<div class="input-div">
					<input type="text" name="clientName" value="" class="form-control" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-phone">
				<label for="phone">
					Phone Number
				</label>
				<div class="input-div">
					<input type="text" name="phone" value="" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-email">
				<label for="email">
					Email
				</label>
				<div class="input-div">
					<input type="text" name="email" value="" class="form-control" data-type="email">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-dob">
				<label for="dob">
					date of Birth
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="dob" value="" class="form-control" data-type="date" data-format="DD-MM-YYYY">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-age">
				<label for="age">
					age
				</label>
				<div class="input-div">
					<input type="text" name="age" value="" class="form-control" data-type="integer" data-min="0" data-max="150">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-father-name">
				<label for="fatherName">
					Father Name
				</label>
				<div class="input-div">
					<input type="text" name="fatherName" value="" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-client-notes">
				<label for="clientNotes">
					Other Client Detail
				</label>
				<div class="input-div">
					<textarea class="form-control" name="clientNotes"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-representing">
				<label for="representing">
					Representing
				</label>
				<div class="input-div">
					<div class="radio">
						<label>
							<input type="radio" value="D" name="representing" checked>
							defendant
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="P" name="representing">
							Petitioner
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-case-type">
				<label for="caseType">
					Caes Type/Nature
				</label>
				<input type="text" name="caseType" value="" class="form-control">
			</div>
			<div class="form-group  field-court">
				<label for="court">
					filing Court modified
				</label>
				<input class="form-control" name="court" type="text"
       					placeholder="Ex: Chennai High Court">
			</div>
			<div class="form-group  field-filing-date">
				<label for="filingDate">
					Filing Date
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="filingDate" value="{{formatDate 'today' 'DD-MM-YYYY'}}" class="form-control" required="required" data-type="date" data-format="DD-MM-YYYY">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-notes">
				<label for="notes">
					Other case related Notes / Details
				</label>
				<div class="input-div">
					<textarea class="form-control" name="notes"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-op-name">
				<label for="opName">
					Opposite party Name and Contact
				</label>
				<div class="input-div">
					<input type="text" name="opName" value="" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-op-advocate">
				<label for="opAdvocate">
					Opposite party Advocate Name and Contact
				</label>
				<div class="input-div">
					<input type="text" name="opAdvocate" value="" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-op-notes">
				<label for="opNotes">
					Other details about Opposite party
				</label>
				<div class="input-div">
					<input type="text" name="opNotes" value="" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

