<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Bootstrap - meteor
	</title>
</head>
<template name="layout">
	{{#if currentUser}}
		{{> PrivateLayout}}
	{{else}}
		{{> PublicLayout}}
	{{/if}}
	{{> sendMailModalT}}
	{{> sendQuickMail}}
	<a href="#" class="scrollToTop" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
		<i class="fa fa-hand-o-up fa-2x"></i> <br/>Top
	</a>
</template>

<template name="PublicLayout">
	<div id="content" class="sticky-wrapper-public">
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
		<div class="footer-container container">
			<p class="text-muted">
			</p>
		</div>
	</div>
</template>

<template name="PublicLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_public'}}">
			<a href="{{pathFor 'home_public'}}">
				<span class="item-title">
					Home
				</span>
			</a>
		</li>
	</ul>
</template>

<template name="PublicLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'login'}}">
			<a href="{{pathFor 'login'}}">
				<span class="item-title">
					Login
				</span>
			</a>
		</li>
	</ul>
</template>

<template name="PrivateLayout">
	<div id="content" class="sticky-wrapper">
		<div id="navbar" class="navbar navbar-default" role="navigation">
			<div class="navbar-container container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" href="#">
					</a>
				</div>
				
    <div class="navbar-collapse collapse" id="searchbar">
     
      {{> PrivateLayoutRightMenu}}
      <ul class="nav navbar-nav ">
		<li id="menu-item-simple" class="{{menuItemClass 'caseprofile'}}">
			<div class="top-navbar-icon">
			<a href="{{pathFor 'caseprofile'}}" style="color:#2196f3">
				<span class="fa fa-home fa-fw fa-2x item-title">
				</span>
				<br/>
				Home
			</a>
			</div>
		</li>      	
		<li id="menu-item-simple" class="{{menuItemClass 'calendar'}}">
			<div class="top-navbar-icon">
			<a href="{{pathFor 'calendar'}}" style="color:#4caf50">
				<span class="fa fa-calendar fa-fw fa-2x item-title">
				</span>
				<br/>
				Calendar
			</a>
			</div>
		</li>
      </ul>
     
	{{> SearchCaseFile}}

    </div><!--/.nav-collapse -->				
			</div>
		</div>
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
		<div class="footer-container container">
			<p class="text-muted">
			</p>
		</div>
	</div>
</template>



<template name="PrivateLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_private'}}">
			<a href="{{pathFor 'home_private'}}">
				<span class="item-title">
					Home
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'caseprofile'}}">
			<div class="top-navbar-icon">
			<a href="{{pathFor 'caseprofile'}}" style="color:#ff9800">
				<span class="fa fa-list fa-fw fa-2x item-title">
				</span>
				<br/>
				Case Profile <span class="badge">{{caseprofileCount}}</span>
			</a>
			</div>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'approval'}}">
			<div class="top-navbar-icon">
			<a href="{{pathFor 'approval'}}" style="color:#ff9800">
				<span class="fa fa-thumbs-o-up fa-fw fa-2x item-title">
				</span>
				<br/>
				Approval <span class="badge">{{approvalCount}}</span>
			</a>
			</div>
		</li>		
		<li id="menu-item-simple" class="{{menuItemClass 'calendar'}}">
			<div class="top-navbar-icon">
			<a href="{{pathFor 'calendar'}}" style="color:#4caf50">
				<span class="fa fa-calendar fa-fw fa-2x item-title">
				</span>
				<br/>
				Calendar
			</a>
			</div>
		</li>
		{{#if isUserInRole 'junior'}}		
		{{else}}
		<li id="menu-item-simple" class="{{menuItemClass 'backup'}}">
			<div class="top-navbar-icon">
			<a href="{{pathFor 'backup'}}" style="color:#2196f3">
				<span class="fa fa-hdd-o fa-fw fa-2x item-title">
				</span>
				<br/>
				Backup
			</a>
			</div>
		</li>
		{{/if}}
		<li id="menu-item-simple" class="{{menuItemClass 'caseprofileA'}}">
			<div class="top-navbar-icon">
			<a href="{{pathFor 'caseprofileA'}}" style="color:#b3b3b3">
				<span class="fa fa-archive fa-fw fa-2x item-title">
				</span>
				<br/>
				Archived <span class="badge">{{archivedCount}}</span>
			</a>
			</div>
		</li>
		{{#if isUserInRole 'junior'}}		
		{{else}}
		<li id="menu-item-simple" class="{{menuItemClass 'todo'}}">
			<div class="top-navbar-icon">
			<a href="{{pathFor 'todo'}}" style="color:#9c27b0">
				<span class="fa fa-check-square-o fa-fw fa-2x item-title">
				</span>
				<br/>
				Tasks ({{incompleteCount}}) 
				<!--<span class="badge">{{incompleteCount}}</span>-->
			</a>
			</div>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'appointment'}}">
			<div class="top-navbar-icon">
			<a href="#" style="color:#9cb3b0"  id="appointment-default">
				<span class="fa fa-clock-o fa-fw fa-2x item-title">
				</span>
				<br/>
				Appointment 
			</a>
			</div>
		</li>		
		{{/if}}
	</ul>
</template>

<template name="PrivateLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-dropdown" class="dropdown ">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="item-title">
					{{#if userEmail}}
						{{userEmail}}
					{{else}}
						{{userFullName}}
					{{/if}}
					
				</span>
				<b class="caret">
				</b>
			</a>
			<ul id="menu-items" class="dropdown-menu">
				<li class="{{menuItemClass 'user_settings'}}">
					<a href="{{pathFor 'user_settings'}}">
						<span class="item-title">
							Settings
						</span>
					</a>
				</li>
				<li class="{{menuItemClass 'logout'}}">
					<a href="{{pathFor 'logout'}}">
						<span class="item-title">
							Logout
						</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</template>

