<template name="SearchCaseFile">
  <form class="navbar-form searchForm">
    <div class="form-group" style="display:inline;">
      <div class="input-group" style="display:table;">
        <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
        <input id="dateview-controls-courtfilter-group" class="form-control typeahead" name="search" type="text" placeholder="Welcome {{userEmail}}!! - Type Here To Search Case Profile" autocomplete="off" spellcheck="off" data-source="search" data-select="selected" data-template="SearchCaseResult" />
      </div>
    </div>
  </form>
</template>

<template name="SearchCaseResult">
  <h6>{{caseId}} <small>{{caseNumber}}</small></h6> Match:
  <mark>{{{match}}}</mark>
  <hr/>
</template>