<template name="backup">
    <div class="page-container container">
        <form role="form" class="insert-form">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="backup">Backup</button>
        </form>
    </div>
    <!--<div id="search">-->
    	<!--<div class="close"></div>-->
    <!--	<form action="search">-->
    <!--		<input class="search-input" type="search" placeholder="What case you are looking for?" />-->
    <!--	</form>-->
    <!--</div>-->
</template>