<template name="Fees">
          <form role="form" class="insert-form">
    			{{#if errorMessage}}
    			<div class="alert alert-warning">
    				{{errorMessage}}
    			</div>
    			{{/if}}		
    		
    			{{#if infoMessage}}
    			<div class="alert alert-success">
    				{{infoMessage}}
    			</div>
    			{{/if}}
    			
    			<div class="row">
    				<div class="form-group  field-target-date col-xs-12 col-sm-12 col-md-3">
    					<label for="receivedOn">
    						Received On
    					</label>
    					<div class="input-div">
    						<div class="input-group date">
    							<input id="apptDate" type="text" name="receivedOn" value="" 
    							  class="form-control" data-type="date" data-format="DD-MM-YYYY h:mm a" required="required">
    							<span class="input-group-addon">
    								<i class="fa fa-calendar">
    								</i>
    							</span>
    						</div>
    						<span id="help-text" class="help-block">
    						</span>
    						<span id="error-text" class="help-block">
    						</span>
    					</div>
    				</div>
    				<div class="form-group  field-description col-xs-12 col-sm-12 col-md-6">
    					<label for="description">
    						For
    					</label>
    					<div class="input-div">
    						<input type="text" name="for" value="" class="form-control" required="required">
    						<span id="help-text" class="help-block">
    						</span>
    						<span id="error-text" class="help-block">
    						</span>
    					</div>
    				</div>
    				<div class="form-group  field-location col-xs-12 col-sm-12 col-md-2">
    					<label for="location">
    						Amount
    					</label>
    					<div class="input-div">
    						<input type="text" name="amount" value="" class="form-control" required="required">
    						<span id="help-text" class="help-block">
    						</span>
    						<span id="error-text" class="help-block">
    						</span>
    					</div>
    				</div>
    			</div>
    			<button type="submit" class="btn btn-success btn-block" id="form-submit-button" name="save">Add</button>
    		</form>
	<table id="dataview-table" class="table table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable col-md-3" data-sort="businessDate">
					Date
				</th>
				<th class="th-sortable col-md-6" data-sort="nextDate">
					Description (For)
				</th>
				<th class="col-md-3">
					Rs.
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items" class="home-tab">
			{{#each getFees}} 
				<tr id="dataview-table-items-row" class="table-row">
  		    <td>{{formatDate receivedOn 'DD-MMM-YYYY'}}</td>
  		    <td>{{for}}</td>
  		    <td>{{amount}}</td>
		    </tr>
			{{/each}}
		</tbody>
	</table>
	<h5 class="text-primary">Total: - <small>Pending</small></h5>
</template>