<template name="Fees">
          <form role="form" class="insert-form">
    			{{#if errorMessage}}
    			<div class="alert alert-warning">
    				{{errorMessage}}
    			</div>
    			{{/if}}		
    		
    			{{#if infoMessage}}
    			<div class="alert alert-success">
    				{{infoMessage}}
    			</div>
    			{{/if}}
    			
    			<div class="row">
    				<div class="form-group  field-target-date col-xs-12 col-sm-12 col-md-3">
    					<label for="receivedOn">
    						Received On
    					</label>
    					<div class="input-div">
    						<div class="input-group date">
    							<input id="apptDate" type="text" name="receivedOn" value="" 
    							  class="form-control" data-type="date" data-format="DD-MM-YYYY h:mm a" required="required">
    							<span class="input-group-addon">
    								<i class="fa fa-calendar">
    								</i>
    							</span>
    						</div>
    						<span id="help-text" class="help-block">
    						</span>
    						<span id="error-text" class="help-block">
    						</span>
    					</div>
    				</div>
    				<div class="form-group  field-location col-xs-12 col-sm-12 col-md-2">
    					<label for="location">
    						Amount
    					</label>
    					<div class="input-div">
    						<input type="text" name="amount" value="" class="form-control" required="required">
    						<span id="help-text" class="help-block">
    						</span>
    						<span id="error-text" class="help-block">
    						</span>
    					</div>
    				</div>
    				<div class="form-group  field-description col-xs-12 col-sm-12 col-md-6">
    					<label for="description">
    						For
    					</label>
    					<div class="input-div">
    						<input type="text" name="for" value="" class="form-control" required="required">
    						<span id="help-text" class="help-block">
    						</span>
    						<span id="error-text" class="help-block">
    						</span>
    					</div>
    				</div>
    			</div>
    			<button type="submit" class="btn btn-success" id="form-submit-button" name="save">
					<span class="fa fa-check">
					</span>
    				Add
    			</button>
    		</form>
  		<ul class="list-group" style="max-height:300px; overflow-y:scroll;">
        {{#each getFees}}
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-3 col-md-3" style="text-align: right;">{{amount}}</div>
            <div class="col-xs-2 col-md-2">{{formatDate receivedOn "DD-MMM-YYYY"}}</div>
            <div class="col-xs-7 col-md-7">{{for}}</div>
          </div>
          <span class="delete-button delete fa fa-trash-o" title="Delete"></span>
        </li>        
        {{/each}}
      </ul>
	<h5 class="text-primary">Total: - <small>Pending</small></h5>
</template>